@media(max-width: 1000px) {
    body {
        font-size: 0.7rem;
    }
    .flex-item {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }

    .call-to-action {
        width: 90%;
        right: 5%;
        left: 5%;
        z-index: 2;
    
        .inpemail, .btn {
            width: 90%;
            margin: 10px 0 1px;
        }
        }
}

@media (max-width: 700px) {
   
    .header {
        width: 90%;

        li {
            margin-left: 5px;
        }
    }
    .intro-section {

        .text-area {
            width: 90%;
            margin: 2rem auto;
        }
    }

   .main {
    .main-wrapper {
            .features {
                padding: 0;
            }
            
            .features, .message, {
                grid-template-columns: 1fr;
                padding: 5rem 0;    
                }
            .team {
                flex-direction: column;
                padding-bottom: 15rem;

                .box {
                    margin: 1rem 0;
                    min-width: 100%;
                    max-width: 50%;
                }
            }  
            

    }
   }
  
    .footer {
        .container { 
            padding: 200px 2rem 5px;   
            .footer-wrapper {
                flex-direction: column;                
                .flex-item-2 {
                    text-align: left;
                    padding: 1rem 0;
                }
                .flex-item {
                    padding: 1rem 0;
                    margin-left: 0;
                }
            }
        
        }
    }
}
